/******************************************************************************

  Copyright (C), 2018, Vision Soft. Co., Ltd.

 ******************************************************************************
  File Name     : ${FILE_NAME}
  Author        : Mark Huang(backup4mark@gmail.com)
  Created       : ${YEAR}/${MONTH}/${DAY}
  Description   :
******************************************************************************/

#[[#include]]# "${NAME}.h"

